{{- $name := promptStringOnce . "name" "User name. Ex: ian.weston" -}}
{{- $email := promptStringOnce . "email" "Email address. Ex: ian.weston@workplace.net" -}}
{{- $work := promptBoolOnce . "work" "It's a work related computer? y/N" -}}


data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  work: {{ $work }}
